VITE_PILLAR1_URL=https://func-peak10afadev.azurewebsites.net
VITE_PILLAR1_KEY=

VITE_PILLAR2_URL=https://func-peak10emaildev.azurewebsites.net
VITE_PILLAR2_KEY=

VITE_PILLAR3_URL=https://func-peak10docaidev.azurewebsites.net
VITE_PILLAR3_KEY=

VITE_PILLAR4_URL=https://func-peak10expdev.azurewebsites.net
VITE_PILLAR4_KEY=
